<!DOCTYPE html>
<html ng-app='bookApp'>
<head>
  <title>Movie Wish List</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js'></script>
  <script src='js/app.js'></script>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
{{1+1}}

  <div ng-controller='SearchCtrl'>
    {{name}}'s Movie Wish List
    <form class='form' ng-submit='search()'>
      <div class='form-group'>
        <input type='text' class='form-control' ng-model='searchTerm'>
        <input type='submit' class='btn btn-primary'>
      </div>
    </form>

    <div class='well' ng-repeat='movie in movies track by $index'>
      <p> {{movie.Title}} </p>
      <img ng-src="{{movie.Poster}}"></img>
    </div>
  </div>


</body>
</html>